<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <RollingFile name="RootAppender" fileName="${sys:log4j2.logPath}${sys:log4j2.logfile}.log"
                     filePattern="${sys:log4j2.logPath}${sys:log4j2.logfile}-%d{yyyy-MM-dd}-%i.zip"
                     immediateFlush="false" append="true">
            <PatternLayout>
                <pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}: %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="128MB" />
                <OnStartupTriggeringPolicy minSize="1" />
            </Policies>
            <DefaultRolloverStrategy max="10" compressionLevel="1">
                <Delete basePath="${sys:log4j2.logPath}" maxDepth="2">
                    <IfFileName glob="*.*" />
                    <IfLastModified age="5d" />
                </Delete>
            </DefaultRolloverStrategy>>
        </RollingFile>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}: %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <appender-ref ref="RootAppender" />
            <appender-ref ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>